.main{
    background-image: url('../images/witcher3.jpg');
    background-position: center;
    background-size: cover;
    padding: 15px 0;
    min-height: 800px;
}
.main header{
    position: relative;
    padding-bottom: 0px;
    border-bottom: 4px solid white;
}
.layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 800px;
    background-color: rgba(0, 0, 0, 0.7);
}

.icons-social a{
    margin: 0 10px;
    font-size: 18px;
    color: white;
}
.logo{
    font-family: 'Caesar Dressing';
    font-size: 2.6em;
    color: #ff4800;
    float: left;
}
nav.desktop{
    float: right;
    margin-top: 18px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    padding: 0 20px;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #fa6000;
    font-size: 18px;
    text-transform: uppercase;
}
/*******************************MENU MOBILE**********************************/

.fa-bars{
    display: none;
    float: right;
    margin-top: 10px;
    padding: 0 1%;
    color: #fa6000;
    font-size: 32px;
    cursor: pointer;
}
nav.mobile ul{
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 81px;
    background-color: rgba(0,0,0, 0.8);
    display: none;
}

.mobile ul li{
    display: block;
    padding: 20px;
    font-size: 22px;
    border-bottom: 2px solid rgb(224, 224, 224);
}
.mobile a{
    padding:5% 40%;
    text-transform: uppercase;
}
/******************************FIM MENU MOBILE*******************************/
div.introduction{
    max-width: 900px;
    margin-top: 100px;
    color: white;
}
.introduction h1{
    font-size: 3em;
    padding-bottom: 10px;
    font-weight: normal;
}
.introduction h1 span{
    color: #ff4800;
}
.introduction a{
    display: block;
    background-color: rgb(195, 0, 255);
}
.introduction p{
    text-align: justify;
    padding-bottom: 10px;
}
/**********************************************FIM SESSAO MAIN*****************************************/
/*********************************************SESSAO projetos********************************************/
section.projetos{
    width: 100%;
}
.chamada-projetos{
    width: 100%;
    text-align: center;
    padding: 20px 2%;
    background-color: rgb(224, 224, 224);
}
.chamada-projetos h2{
    display: inline-block;
    border-top: 2px solid rgb(195, 0, 255);
    color: #fa6000;
    font-size: 20px;
    padding: 0 30px;
}
.box-projetos{
    padding: 40px 2%;
}
.box-projetos > center{
    flex-wrap: wrap;
}
.projetos-single{
    width: 33.3%;
    padding: 0 5%;
}
.projetos-single h2{
    background-color: #fa6000;
    color: white;
    font-weight: lighter;
    border: 2px solid #fa6000;
    padding: 5px 0;
    text-align: center;
}
.projetos-wraper{
    box-shadow: 5px 3px 10px 2px rgb(39, 39, 39);
    min-height: 350px;
}
.pontos-projetos{
    padding: 15px 0;
}
.pontos-projetos p{
    text-align: center;
    padding: 10px 2%;
}
.preco{
    margin-top: 10px;
    padding: 15px 0;
    text-align: center;
}
.preco h2{
    display: inline-block;
    font-size: 20pt;
    color: rgb(195, 0, 255);
    background-color:transparent;
    border: 0;
    border-top: 1px solid #777;
    padding: 10px 20px;
}
/****************************************FIM SESSAO projetos********************************************/
/******************************************SESSAO SOBRE***********************************************/
section.sobre{
    background-image: url('../images/blizz.jpg');
    background-position: center;
    background-size: cover;
    min-height: 500px;
    margin-top: 20px;
    position: relative;
    background-attachment: fixed;
}
.layer-sobre{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 500px;
    position: absolute;
}
.sobre-empresa{
    color: white;
    max-width: 800px;
    text-align: center;
    margin: 50px auto;
}
.sobre-empresa h2{
    font-weight: lighter;
    font-size: 30pt;
    padding: 20px 2%;
    border-top: 2px solid rgb(195, 0, 255);
}
.sobre-empresa span{
    color: #ff4800;
}
.sobre-empresa p{
    margin-top: 25px;
    font-weight: normal;
    text-align: justify;
}
/*******************************************FIM SESSAO SOBRE********************************************/
/*******************************************SESSAO CONTATO**********************************************/
section.contato{
    width: 100%;
    padding: 50px 0;
    margin: auto;
}
section.contato .center{
    max-width: none;
}
.contato h2{
    text-align: center;
    color: #fa6000;
    font-size: 2.2em;
}
section.contato form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

form{
    text-align: center;
}
form input[type=text], input[type=email]{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border-radius: 8px;
    border: 1px solid #ff4800;
}
.formulario{
    float: left;
    margin-top: 10px;
    padding:0 10px;
}
.w100{
    text-align: center;
}
textarea{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    resize: none;
    padding: 10px;
    border: 1px solid rgb(255, 72, 0);
    border-radius: 8px;
}
form input[type=button]{
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
    width: 140px;
    background-color: rgb(195, 0, 255);
}
.equipe{
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.equipe > h2{
    text-align: left;
    padding-left: 2%;
    padding-bottom: 20px;
}
.equipe-single{
    box-shadow: 3px 3px 12px 2px rgba(129, 0, 168, 0.493);
    padding: 10px 2%;
    min-height: 250px;
    float: left;
    margin:20px 2%;
}
.topo-usuario{
    padding: 10px 2%;
    border-bottom: 1px solid rgb(195, 0, 255);
}
.box-avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url(../images/romulo.jpg);
    background-size: 100% 100%;
    background-position: center;
}
.info-usuario{
    padding: 0 20px;
    display:inline-block;
}.info-usuario p:nth-child(1){
    font-weight: bold;
}
.info-usuario p:nth-child(2){
    color: #fa6000;
}
.descricao-usuario{
    max-width: 250px;
    padding: 10px 2%;
}
/*******************************************FIM SESSAO CONTATO******************************************/
/*******************************************SESSAO FOOTER***********************************************/
footer{
    margin-top: 20px;
    padding: 20px 2%;
    background-color: rgb(244, 244, 244);
}
footer p{
    color: #fa6000;
    text-align: center;
    font-size: 1.2em;
}
/*********************************************FIM FOOTER************************************************/
@media screen and (max-width: 1350px){
    .w50{
        width: 100%;
    }
    .equipe{
        margin-top: 40px;
    }
    .equipe h2{
        text-align: center;
    }
    .equipe-single{
        width: 28%;
    }
    .descricao-usuario{
        max-width: none;
        text-align: justify;
    }
}
@media screen and (max-width: 960px){
    .projetos-single{
        width: 100%;
        max-width: 450px;
        margin:20px auto;
    }
    footer p.w50{
        margin: 10px 0; 
        width: 100%;
    }
    div.introduction{
        margin-top: 60px;
    }
}    
@media screen and (max-width: 768px){
    .desktop{
        display:none
    }
    .fa-bars{
        display: block;
    }
    div.introduction{
        margin-top: 50px;
    }
    .btn-primary{
        line-height: 35px;
    }
    .equipe{
        margin-top: 30px;
    }
    .equipe-single{
        width: 70%;
        margin: 15px auto;
        float: none;
    }
}
